TYPE=bot
MAIN=build/index.js
NAME=Quengabot
AVATAR=https://images-ext-1.discordapp.net/external/tty1-urqMQV0vNV9XoiLhh_GrRZut9H2taW3sdin7R8/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/1513623681849495602/d1c58492b52dce0d81be9ad914563a52.png?format=webp&quality=lossless
AUTORESTART=true
BUILD=npm run build
START=npm run start
VLAN=false